{%extends "layout.html"%}
{% block content %}
<div class="about">
    <style>
        img{
            width : 256px;
            height : 256px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
        }
    </style>
    <center>
<!--        <img id="image_about" src="{{ url_for('profile_display')}}"/>-->
        <h2>Shashwat Pathak</h2>
        <h1>Indian Institue of Technology, Bombay</h1>
        <p><a href="https://sites.google.com/iittp.ac.in/shashwatpathak/home" target="_blank">Website Link</a></p>
    </center>
<div>

{% endblock %}
