{%extends "layout.html"%}
{% block content %}
<div class="about">
    <style>
        img{
            width : 250px;
            height : 250px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
        }
    </style>
    <center>
        <h1>Shashwat Pathak</h1>
        <p>Indian Institue of Technology, Bombay</p>
        <p><a href="https://sites.google.com/iittp.ac.in/shashwatpathak/home" target="_blank">Website Link</a></p>
    </center>
<div>
{%endblock%}